.container {
  position:relative;
  left:11%;
  margin: 4%;
 border: 2px solid black;
  cursor: pointer;
  background: white;
  text-decoration: none;
  padding:5% 10%;
  box-shadow: 5px 5px 5px grey;
  display: inline-block;
}
.container:hover,
.container:focus {
  box-shadow: 15px 15px 15px grey;
}

.btn{
    margin: 8px 10px;
  font-size:20px;
  background-color:orange;
  color:black;
  border-radius: 150px;
  padding: 5px;
  }

.btn:hover{
 transform: translateY(-10px);
  transition-duration:.1s;
  }



/*submit button animation*/
@-webkit-keyframes submitbutton {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes submitbutton {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.btn-submit {
 margin-top:60px;
  font-family:comicsans;
	border: 2px solid black;
	border-radius: 40px;
	font-size: 26px;
	padding: 4px 40px;
	background-color: transparent;
	cursor: pointer;
}

.btn-submit:hover {
	border-color: black;
-webkit-animation-name: submitbutton;
  animation-name: submitbutton;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;

}

.margin{
  margin: 9px;
}
.no-border1{color:black;
  border:0px;
  text-decoration: none;
  outline: none;
}

.no-border{font-family:comicsans;
  color:#0099cc;
  font-size:19px;
  border:0px;
  text-decoration: none;
  outline: none;
}

.no-border2{
  border:0px;
  text-decoration: none;
  outline: none;
}

.btn-cross{ color:red;
  text-decoration: none;
  border:0px;
  background-color: white;
  padding: 0;
}
.btn-heading{
  font-family: algerian;
  font-size: 29px;
  font-weight: 400;
}
.btn-down{font-family:times;
  font-size:21px;
  color:orange;
  display: block;
  margin:30px 30px;
}
.btn-inline{ color:black;
  display: inline-block;
}
.block{
  display: block;
}
.large{
  width:100%
}
.border{
  border: 0;
  border-bottom: solid grey 1px;
  transition:all .2s
}
.border:focus{
  border:0;
  border-bottom: solid black 2px
}
.border-2:focus{ color:#0099cc;
  border:0;
  border-bottom: solid orange 2px
}
.border-3:focus{
  border:0;
  border-bottom: solid orange 2px
}
.border-4:focus{color:black;
  border:0;
  border-bottom: solid orange 2px
}
.border-5:focus{ color:black;
  border:0;
  border-bottom: solid orange 2px
}
.margin-large{
  margin:80px;
}
